@use '../components/scheduling-card/scheduling-card.scss' as scheduling;

.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #ccc; 
    min-height: 100vh;
}

.app-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    width: 100%;

    @media (max-width: scheduling.$mobile) {
        gap: 0.5rem;
        padding: 0.5rem;
    }

    @media (min-width: scheduling.$desktop) {
        grid-template-columns: 2fr 3fr;
        gap: 2rem;
        padding: 2rem;
    }
}
