@use './scheduling-card/scheduling-card.scss' as scheduling;

.app-container {
    display: grid;
    grid-template-columns: minmax(280px, 2fr) minmax(400px, 3fr);
    gap: 2rem;
    padding: 2rem;
    box-sizing: border-box;
    width: 100%;

    @media (max-width: scheduling.$desktop) {
        grid-template-columns: 1fr;
        padding: 1rem;
        gap: 1rem;
    }

    @media (max-width: scheduling.$tablet) {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        padding: 1rem;
        gap: 1rem;
    }

    @media (max-width: scheduling.$mobile) {
        grid-template-columns: 1fr;
        padding: 0.5rem;
        gap: 0.5rem;
    }
}

